<!DOCTYPE html>
<html lang="bg" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <title></title>
  </head>
  <body>

    <div th:fragment="guest_navbar">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" th:href="@{/}">Pshop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}">Начало<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/product/all}">Продукти</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" th:href="@{/category}">Категории</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">За нас</a>
      </li>
		
		
      <li class="nav-item">
        <a class="nav-link" href="#">Контакт</a>
      </li>
    </ul>

    <a th:href="@{/cart}" class="nav-link">Количка</a>
    
    <a th:href="@{/auth/login}" sec:authorize="isAnonymous()" class="nav-link">Вход</a>
	    <div class="dropdown" style="padding-right:5px" sec:authorize="isAuthenticated()">
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Профил
		  </button>
		  
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item" th:href="@{/account/}">Профил</a>
		    <a class="dropdown-item" th:href="@{/account/orders}">Проъчки</a>
		    <a class="dropdown-item" th:href="@{/account/settings}">Настройки</a>
		    <a class="dropdown-item" th:href="@{/admin/}" sec:authorize="hasRole('ADMIN')">Админ Панел</a>
		    <div class="dropdown-divider"></div>
		    <form th:action="@{/auth/logout}" sec:authorize="isAuthenticated()" method="POST">
    	<input type="submit" class="nav-link" value="logout">
    </form>
		    
		  </div>
</div>
    
    
  <form  class="form-inline my-2 my-lg-0" th:action="@{/search}" method="get">
	  <input class="form-control mr-sm-2" type="search" name="query" placeholder="Търси" aria-label="Search">
	  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Търси</button>
  </form>


  </div>

</nav>
</div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
  </body>
</html>
