<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="fragments/navbar.html :: header_files">

    <title></title>
  </head>
  <body>

    <div th:replace="fragments/navbar.html :: guest_navbar">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Pshop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Начало<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="category.html">Категории</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">За нас</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Контакт</a>
      </li>


    </ul>

    <a href="#" class="nav-link">Количка</a>
    <a href="login.html" class="nav-link">Вход</a>

    <form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Търси" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Търси</button>
  </form>


  </div>

</nav>

    </div>
    <div class="container" style="margin-top:5%">
      <h1 class="text-center">Количка</h1>
      <table class="table table-hover">
<thead>
  <tr>
    <th scope="col">Продукт</th>
    <th scope="col">Цена</th>
    <th scope="col">Брой</th>
    <th scope="col">Крайна Цена</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">
      <img src="https://www.powerbookmedic.com/xcart1/images/D/psp-1000-lcd.jpg" style="width:50px; height:80px;"> </img>
      <a href="" >LCD PSP Дисплей</a>

    </th>
    <td>15 лв.</td>
    <td>1</td>
    <td>20 лв.</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td colspan="2">Larry the Bird</td>
    <td>@twitter</td>
  </tr>
</tbody>

<tfoot>
  <th> <a href="">Поръчай</a></th>
  <th> 25 лв </th>
  <th> </th>
  <th> 30 лв </th>


</tfoot>
</table>
    </div>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
