<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <title></title>
  </head>
  <body>
    <div class="container">
      <!-- Default form register -->
      
      <div th:if="${success}" th:switch="${success}" class="alert alert-success" role="alert">
      		<p th:switch="${T(com.caueruleum.pshop.model.PshopSuccess).TOKEN_RESEND_SUCCESS}" th:text="#{success.token.resend.message}" class=" text-center"> </p>
      </div>
      
      <form class="text-center border border-light p-5" th:object="${user}"  th:action="@{/auth/process-resend-verification}" style="width:50%; margin-left:25%" method="POST">

          <input type="text" id="defaultRegisterFormUsername" th:field="*{username}" class="form-control mb-4" placeholder="Потребителско име">
           <p th:each="error: ${#fields.errors('username')}"
          th:text="${error}">Validation error</p>

          <!-- Sign up button -->
          <button class="btn btn-info my-4 btn-block" type="submit">Изпрати отново</button>

          <!-- Terms of service -->
          <hr>
          <a th:href="@{/}">Начало</a>
      </form>
      <!-- Default form register -->
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
