<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/layout :: head_files">

</head>
<body>
    <header th:replace="admin/fragments/layout :: header"></header>

    <div class="container-fluid" style="padding-top:20px;">
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">IsActive</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Authority</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">
                <th scope="row" th:text="${user.username}"></th>
                <td th:text="${user.password}"></td>
                <td th:text="${user.isActive}"></td>
                <td th:text="${user.userDetail.firstName}"></td>
                <td th:text="${user.userDetail.lastName}"></td>
                <td th:text="${user.authority.authority}"></td>
                <td th:text="${user.userDetail.email}"></td>
                <td th:text="${user.userDetail.address}"></td>
                <td><a th:href="'cu/' + ${user.username}">Update</a></td>
                <td><a th:href="'/admin/database/user/delete/' + ${user.username} + '/'">Delete</a></td>
            </tr>
            </tbody>
        </table>
		
		<div class="container">
			<a href="cu/">New</a>
		</div>
		
    </div>

    <footer th:replace="admin/fragments/layout :: footer"></footer>
</body>
</html>